---
import { Tabs, TabItem, Code } from '@astrojs/starlight/components'
import { loadExampleCode, ExampleComponent } from '@web/examples'

interface Props {
  path: string
}

const { path } = Astro.props

const exampleCode = await loadExampleCode({ path })
---

<Tabs>
  <TabItem label="Preview">
    <div class="not-content twp">
      <div class="flex items-center justify-center p-5 md:p-12 min-h-[350px] border rounded-md">
        <ExampleComponent path={path} client:idle />
      </div>
    </div>
  </TabItem>
  <TabItem label="Code">
    <Code code={exampleCode} lang="tsx" />
  </TabItem>
</Tabs>
