---
import { Tabs, TabItem, Code } from '@astrojs/starlight/components'
import { loadExampleCode, ExampleComponent } from '@web/examples'

interface Props {
  path: string
}

const { path } = Astro.props

const exampleCode = await loadExampleCode({ path })
---

<div class="pt-4">
  <Tabs>
    <TabItem label="Preview">
      <div class="not-content bg-bg--contrast">
        <div
          class:list={[
            'border rounded-md w-full overflow-auto',
            '[&>astro-island]:flex [&>astro-island]:items-center [&>astro-island]:justify-center [&>astro-island]:p-5 md:[&>astro-island]:p-12 [&>astro-island]:min-h-[350px]',
          ]}
        >
          <ExampleComponent path={path} client:idle />
        </div>
      </div>
    </TabItem>
    <TabItem label="Code">
      <Code code={exampleCode} lang="tsx" />
    </TabItem>
  </Tabs>
</div>
