<div class="container px-0 ml-0">
  <p class="text-balance text-sm leading-loose text-fg-weak md:text-left">
    Built by
    <a
      href="https://x.com/dinwwwh"
      target="_blank"
      rel="noreferrer"
      class="font-medium underline underline-offset-4 transition text-fg-brand hover:text-fg-brand--hover"
    >
      dinwwwh
    </a>
    . The source code is available on <a
      href="https://github.com/dinwwwh/dinui"
      target="_blank"
      rel="noreferrer"
      class="font-medium underline underline-offset-4 transition text-fg-brand hover:text-fg-brand--hover"
    >
      GitHub
    </a>
    , and released under the MIT License.
  </p>
</div>
