---
import { Tabs, TabItem, Code } from '@astrojs/starlight/components'
import { loadExampleCode, ExampleComponent } from '@web/examples'

interface Props {
  path: string
}

const { path } = Astro.props

const exampleCode = await loadExampleCode({ path })
---

<Tabs>
  <TabItem label="Preview">
    <div class="not-content twp">
      <ExampleComponent path={path} client:visible />
    </div>
  </TabItem>
  <TabItem label="Code">
    <Code code={exampleCode} lang="tsx" />
  </TabItem>
</Tabs>
